.mainContainer {
  min-height: calc(100% - 110px);
}

.navbar {
  height: calc(100% - 36px);
}

.manageContainer {
  height: calc(100% - 65px);
}

.manageContainer2 {
  height: calc(100% - 40px);
}

.feedbackContainer {
  height: calc(100% - 116px);
}

.subContainer {
  height: calc(100% - 120px);
}
